@import "./../../../Shared.scss";

.header-nav-container {
  ul {
    @extend %flex-between;
    list-style: none;

    .header-nav-link {
      color: black;
      text-decoration: none;

      &:hover {
        color: $tertiary;
      }
    }

    li {
      cursor: pointer;
      margin-inline: 1.5rem;
      font-weight: 500;
    }
  }
}

.header-nav-link-active {
  color: $tertiary;
}
