@import "./../../../Shared.scss";

.home-popular-container {
  @extend %main-width;
  padding-block: 2.5%;
}

.home-popular-articles-container {
  // display: grid;
  // gap: 3%;
}

@media only screen and (max-width: 1000px) {
  .home-popular-container {
    width: 90%;
    padding-block: 25% 0%;
  }
  .home-popular-articles-container {
    gap: 0;
  }
}
