@import "./../../../../Shared.scss";

.home-latest-article {
  height: 90%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 75%;
    display: flex;
    justify-content: center;
  }
  h2 {
    line-height: 2.25rem;
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}
