@import "./../../../Shared.scss";

.home-featured-container {
  @extend %main-width;
  @extend %flex-column-center;
  min-height: 85vh;
}

.home-featured-article-container {
  @extend %grid-two-columns;
}

.home-section-header {
  color: $tertiary;
  padding-bottom: 2%;
  font-size: clamp(1.25rem, 1.75vw, 1.75vw);
  align-self: flex-start;
}

.home-featured-left-container {
  @extend %flex-column-justify;

  h2 {
    font-size: clamp(1.5rem, 2.25vw, 2.25vw);
    line-height: 150%;
    padding-bottom: 1.5rem;
  }
  p {
    color: $light-color;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-bottom: 2.5rem;
  }
  button {
    background-color: $secondary;
    border: none;
    border-radius: 3px;
    color: $primary;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: $transistion-ease;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.home-featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .home-featured-container {
    width: 90%;
  }
  .home-featured-article-container {
    grid-template-columns: 1fr;
    padding-block: 1rem 3rem;
    gap: 5%;
  }
  .home-featured-left-container {
    order: 1;
  }
}
